<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>food index</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>

    <h1>Our Restaurants</h1>
    <p>
      {% for restaurant in restaurant_list %}
        {{ restaurant.name }} -- {{ restaurant.type }}
      {% endfor %}
    </p>

    <h1>Our Plates</h1>
    <p>
      {% for plate in plates_list %}
        {{ plate.restaurant }} -- {{ plate.name }} -- {{ plate.description }} -- {{ plate.price }}
      {% endfor %}
    </p>
  </body>
</html>