{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Food</title>
    <link rel="stylesheet" href="{% static 'food/style.css' %}">
  </head>
  <body>

    <h1>
      Our Restaurants
    </h1> 
    {% for restaurant in restaurant_list %}
    <ul>
      <li>
        <a href="{% url 'food:restaurant_detail' restaurant.id %}">{{ restaurant.name }} -- {{ restaurant.type }}
      </li>
    </ul>
    {% endfor %}


    <h2>
      Our Plates
    </h2>
      {% for plate in plates_list %}
      <ul>
        <li>
          <a href="{% url 'food:plate_detail' plate.restaurant.id plate.id %}">{{ plate.restaurant }} -- {{ plate.name }} -- {{ plate.description }} -- {{ plate.price }}
      </li>
    </ul>
     {% endfor %}

  </body>
</html>