<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Plates</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>

    <h1>
      {{ plate_detail.name }}
    </h1>
      <ul>
        <li>
          {{ plate_detail.restaurant }} -- {{ plate_detail.description }} -- {{ plate_detail.price }}
        </li>
      </ul>
      </li>
    </ul>
  </body>
</html>